<%= form_with model: blog_post do |form| %>
  <% if form.object.errors.any? %>
    <div>
      <% form.object.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  <% end %>

  <% if blog_post.cover_image.present? %>
    <div id="<%= dom_id(blog_post, :cover_image) %>">
        <div class="flex justify-end italic underline">
            <%= link_to "Delete Cover Image", blog_post_cover_image_path(blog_post), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        </div>
        <%= image_tag blog_post.cover_image, class: "w-1/3 border-2 rounded-md" %>
    </div>
  <% end %>

  <div class="mb-6">
    <%= form.label :cover_image, "Choose Cover Image", class: "block font-semibold text-gray-500 bg-gray-200 px-4 py-2 rounded-md hover:bg-gray-300 cursor-pointer" %>
    <%= form.file_field :cover_image, class: "hidden" %>
  </div>

  <div class="mb-6">
    <%= form.label :title, class: "block font-semibold" %>
    <%= form.text_field :title, class: "block w-full py-2 px-4 border rounded-md" %>
  </div>

  <div class="mb-6">
    <%= form.label :content, class: "block font-semibold" %>
    <%= form.rich_text_area :content, class: "block w-full p-4 border rounded-md" %>
  </div>

  <div class="mb-6">
    <%= form.label :published_at, class: "block font-semibold" %>
    <%= form.datetime_select :published_at, include_blank: true %>
  </div>

  <div id="form-submit">
    <%= form.submit "Save Changes", class: "bg-green-500 hover:bg-green-600 text-white p-2 rounded" %>
  </div>
  
<% end %>
