<h1><%= user_signed_in? ? "Home" : "A Londoner's Blog" %></h1>
<hr />
<% @blog_posts.each do |blog_post| %>
    <div>
       <%= image_tag blog_post.cover_image, class: "h-64" if blog_post.cover_image.present? %>
        <div class="flex-grow">
            <h2 class="flex items-center">
                <%= link_to blog_post.title, blog_post, class: "flex-grow" %>
                <% if blog_post.draft? %>
                    <div class="ml-auto p-1 rounded bg-gray-100 text-sm italic text-gray-500">DRAFT</div>
                <% elsif blog_post.scheduled? %>
                    <div class="ml-auto p-1 rounded bg-blue-100 text-sm italic text-blue-500">SCHEDULED</div>
                <% end %>
            </h2>
            <%= blog_post.content %>
        </div>
        <hr />
    </div>
<% end %>

<% if @pagy.count > @pagy.items %>
    <div class="mt-16">
        <%== pagy_nav(@pagy) %>
    </div>
<% end %>
