<h2>Forgot your password?</h2>

<p class="italic">Submit your email address to receive the reset password instructions in your inbox:</p>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email%><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full" %>
  </div>

  <div class="actions mt-6">
     <%= button_tag(type: "submit", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold p-2 rounded w-full") do %>
      Send Password Instructions
    <% end %>
  </div>
<% end %>

<%= content_tag :div, class: "italic mt-6" do %>
  <%= render "devise/shared/links" %>
<% end %>