<!DOCTYPE html>
<html>
  <head>
    <title>A Londoner's Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if user_signed_in? %>
      <div class="flex justify-end p-4 bg-slate-300 text-white">
          <%= link_to "Add New Blog Post", new_blog_post_path, class: "bg-green-500 hover:bg-green-600 px-4 py-2 rounded" %>
          <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "bg-red-500 hover:bg-red-600 px-4 py-2 rounded ml-4" %>
      </div>
    <% end %>

    <div class="prose mx-auto my-16">
      <%= yield %>
    </div>
  </body>
  
</html>
