<!DOCTYPE html>
<html>
  <head>
    <title>A Londoner's Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
      <div class="sticky top-0 flex justify-between items-center p-4 bg-slate-300 text-white">
        <div class="flex items-center">
          <h2 class="italic">A Londoner's Blog</h2>
        </div>
        <div class="flex items-center space-x-4">
          <%= link_to "All Blog Posts", blog_posts_path, class: "bg-slate-400 hover:bg-slate-500 p-2 rounded" %>
          <%= link_to "Create Blog Post", new_blog_post_path, class: "bg-slate-400 hover:bg-slate-500 p-2 rounded" %>
          <%= link_to "Edit Profile", edit_user_registration_path, class: "bg-slate-400 hover:bg-slate-500 p-2 rounded" %>
          <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "bg-slate-400 hover:bg-slate-500 p-2 rounded" %>
        </div>
      </div>
    <% end %>

    <div class="prose mx-auto my-16">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
  
</html>
